# ClickHouse Configuration
CH_HOST=localhost
CH_PORT=9002
CH_USER=root
CH_PASSWORD=root
CH_DATABASE=warehouse

# S3 / RustFS Configuration
S3_ENDPOINT=http://localhost:9000
S3_ACCESS_KEY=rustfsadmin
S3_SECRET_KEY=rustfsadmin
S3_BUCKET=data-lake
S3_USE_SSL=False

# MySQL User DB Configuration
MYSQL_USER_ROOT_PASSWORD=root
MYSQL_USER_DATABASE=user_database

# MySQL Product DB Configuration
MYSQL_PRODUCT_ROOT_PASSWORD=root
MYSQL_PRODUCT_DATABASE=product_database

# MongoDB Configuration
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=root
